*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}


/* Remove default padding */
ul,
ol {
  padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: sans-serif;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto;
}
a {
  text-decoration: none;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:hover{
  transition: .1s linear;
}
