body{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 768px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 
  .page-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    
    
  }

  .header-title{
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 79px;
    padding-top: 14px;
    width: 175px;
    
  }

  .header-title:hover{
    color: rgba(60, 184, 120, 1);
  }

  .header-icons{
    display: flex;
    
 }
  

  .icon-mail{
    padding-left: 24px;
  }

  
  .green-calendar:hover{
    fill: #01813F;
   
  }
  
  .green-mail:hover{
    fill: #01813F;
  }

  .green-compass:hover{
    fill: #01813F;
  }

  .icon-compass{
    padding-right: 25px;
    padding-left: 24px;
  }

.line{
padding-right: 24px;
width: 27px;
}

.line::before{
    content: url(../img/line.png);
    padding-right: 50px;
    display: block;
    padding-top: 3px;
}


.icons-text{
    color: #fff;
    padding-right: 79px;
    
   }

   .header-login{
    color: #fff;
   }

   .header-login:hover{
    color: rgba(1, 129, 63, 1);
   }

    .header-elements{
        padding-top: 18px;
    }
    
  /* form container */

 
.form-wrapper{
  height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 
 
 
 
  
}

  .white-container{
    margin-top: 40px;
    width:444px ;
    height: 584px;
    background-color:#fff ;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translateX(-50% ) translateY(-50%);
   
    
    
  }

  
  .form-title-container{
    display: flex;
    flex-direction: row;
    
  }

  .form-title{
    font-size: 20px;
    padding-left: 43px ;
    color: #434343;
    font-weight: 400;
    padding-right: 216px;
    padding-top: 23px;
  }

  .green-login{
    padding-top: 29px;
    display: block;
    color: #3CB878;
    font-size: 14px;
  }

  .green-login:hover{
    color: #01813F;
  }


  .form-title-container::before{
    content: url(../img/green-box.png);
    padding-top: 29px;
  }
 
  /* social buttons */

  .button-wrapper{
    
    padding-top: 10px;
    display: flex;
    height: 63px;
    justify-content: center;
  }

  .facebook-button{
    display: flex;
    justify-content: space-around;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    margin-right: 4px;
    border-radius: 3px;
    
  }

  .facebook-button:hover{
    background-color: #022263;
  }

  .fb-img{
    padding-top: 12px;
    padding-left: 16px;
    

  }

  .fb-text{
    padding-bottom: 50px;
    padding-right: 22px;
    
  }

  .social-text{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
  }
  
  .fb-line::after{
    content: url(../img/button-line.png);
    padding-top: 10px;
    display: block;
    
  }

  .google-button{
    display: flex;
    justify-content: space-around;
    width: 160px;
    height: 48px;
    background-color:#DF4A32;
    margin-left: 4px;
    border-radius: 3px;
}

.google-button:hover{
  background-color: #AB1F09;
}
  
.google-img{
    padding-top: 15px;
    padding-left: 8px;
    
}

.google-text{
    padding-right: 17px;
    
}

.google-line::after{
    content: url(../img/g-line-button.png);
    display: block;
    padding-top: 10px;
    padding-right: 10px;

}

/* or */

.word-under-buttons{
    padding-top: 21px;
    text-align: center;
    color: #848484;
    font-size: 14px;
}



.word-under-buttons::after,
.word-under-buttons::before{
   content:"";
   width: 152px;
   border: 1px solid #F2F2F2;
   display: inline-block;
   margin-bottom: 3px;
   
   
    
}


/* forms */

.form{
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 4px;
    border: 1px solid #e4e4ee;
    padding: 10px 95px 10px 19px;
    margin-bottom: 16px;
    font-size: 14px;
    color: rgba(67, 67, 67, 1);
}

.form:first-child{
    margin-top: 12px;
}


.form:focus{
    box-shadow: 0 2px 5px 2px rgba(132, 132, 132, 1);
}

input:active{
    border: none;
}


/* checkbox */

.checkbox-container{
    position: relative;
}

.checkbox{
   position: absolute;
   appearance: none;
   cursor: pointer;
}

.checkbox-label{
    padding-left: 88px;
    display: block;
    color: rgba(67, 67, 67, 1);
    font-size: 14px;
    
}

.checkbox-label::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #e4e4ee;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 57px;
    
    
}

.checkbox-label::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/done.svg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-left: 60px;
    opacity: 0;
    cursor: pointer;
    transition: .1s linear;
}

.checkbox:checked + .checkbox-label::after{
    opacity: 1;
}



.terms-and-conditions{
    color: rgba(60, 184, 120, 1);
}

.terms-and-conditions:hover{
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.agreement-link:hover{
     
}

/* green button */

.green-button{
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.green-button:hover{
    background-color: rgba(1, 129, 63, 1);
}

.green-button-text{
    text-align: center;
    padding-top: 10px;
    color: rgba(255, 255, 255, 1);

    
}
  


